<%= form_for @user, url: wizard_path do |f| %>
<h2>Tell us a little about yourself</h2>
<% if @user.errors.any? %>
<div class="error_messages">
<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>

<div class="field">
<%= f.label :name  %>
<%= f.text_field :name  %>
</div>

<div class="field">
<%= f.label :date_of_birth  %>
<%= f.date_field :date_of_birth, start_year: 1900, end_year: Date.today.year  %>
</div>

<div class="field">
<%= f.label :bio  %>
<%= f.text_area :bio, rows: 5  %>
</div>

<div class="actions">
<%= f.submit "Continue" %>
or <%= link_to "skip the step", next_wizard_path %>
</div>
<% end %>
