<%= form_for @user, url: wizard_path do |f| %>
<h2>Where can we find you?</h2>
<% if @user.errors.any? %>
<div class="error_messages">
<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>


<div class="field">
<%= f.label :twitter_username  %>
<%= f.text_field :twitter_username %>
</div>

<div class="field">
<%= f.label :github_username  %>
<%= f.text_field :github_username %>
</div>

<div class="field">
<%= f.label :website  %>
<%= f.text_field :website %>
</div>

<div class="actions">
<%= f.submit "Continue" %>
or <%= link_to "Go to previous step", previous_wizard_path %>
</div>
<% end %>
