<h1>Sign Up</h1>

<%= form_for @user do |f| %>
<% if @user.errors.any? %>
	<div class="error_messages">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
	</div>
<% end %>


<div class="field">
<%= f.label :email  %>
<%= f.text_field :email  %>
</div>

<div class="field">
<%= f.label :password  %>
<%= f.password_field :password  %>
</div>

<div class="field">
<%= f.label :password_confirmation  %>
<%= f.password_field :password_confirmation  %>
</div>


<div class="actions">
<%= f.submit "Sign Up" %>
</div>

<% end %>
